<html>
<head>
	<title>$tonks</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- This is version 3.4.1! -->
	<link href="css/stonks.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
</head>
<!-- Main Page -->
<body>
	<!-- Heading End -->
	<!-- Log-In -->
	<!-- The index page is now the log-in screen! -->
	<!-- There should be an option for a facebook login (see lab 6) -->
	<div class="back">
		<form class="form-horizontal">
			<div class="logo-row">
				<div class="container-fluid">

					<h1>
						<a href="/home">
							<img src="images/login.svg" alt="stonks" class="logo" />
						</a>
					</h1>
					<p class="stonks">
						Taking You to the Moon<br>
						One Lesson at a Time<br>
						Or Whatever Works Best For You
					</p>

				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="email" class="form-control" id="inputEmail" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
			</div>
			<div class="form-group">

				<!-- This is simply a placeholder: its a link to the home page! -->

			</div>
			<a class="btn btn-default" href="/home" role="button">Sign-in</a>
			<h4>or</h4>
			<a class="btn btn-default" href="/home" role="button">Log-In with Facebook</a>
		</form>
	<!-- The button below is how someone signs-in with facebook -->
	<!-- When someone signs-in with facebook, he/she also goes straight to the home page -->
	<!-- I will let you (Myles) decide on what FB info gets rendered in the Profile section -->
	<!-- End of Login -->
	<!-- I have comments scattered throughout the handlebars pages if you need more info -->
	<!-- I also sent an e-mail about "each loops," which should make creating JSONs easier. -->
	<!-- Lab 4 contains info about "each loops"! -->
	<!-- When viewing the project in Chrome (or any browser), toggle to a "mobile" view -->
	<!-- The final navbar is a vertical one because making a horizontal one is a pain DX -->
	</div>
</body>
</html>
