<html>
<head>
	<title>$tonks - Support</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- This is version 3.4.1! -->
	<link href="css/stonks.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
</head>

<!-- Main Page -->
<body>
	<!-- Heading -->
	<div class="logo-row">
		<div class="container-fluid">
			<div class="jumbotron">
				<h1>
					<a href="/home">
						<img src="images/logo.svg" alt="stonks" class="logo">
					</a>
				</h1>
			</div>
		</div>
	</div>
	<!-- Heading End -->

	<div class="panel-group">

		<div class="panel panel-default" id="general-support">
			<div class="panel-heading">
				<h2>General</h2>
			</div>
			<div class="panel-body">
				<h3>There are slides in certain pages. How do I go through them?</h3>
				<p> You tap the arrow buttons or the dots.<br>
						Each dot represents a slide.
				</p>
			</div>
		</div>

		<div class="panel panel-default" id="home-support">
			<div class="panel-heading">
				<h2>Home Page</h2>
			</div>
			<div class="panel-body">
				<h3>What is on the home page?</h3>
				<p>The home page contains three sections<br>
					 The first section is the "Previous Lessons" section, which showcases sub-lessons you completed.<br>
					 The second section is the "Resume Lessons" section, which showcases sub-lessons that one has yet to complete.<br>
					 The third section is the "Changes in Investing" section, which shows news about how investing is changing.<br>
				</p>
			</div>
			<div class="panel-body">
				<h3>How do I access a lesson from this page?</h3>
				<p>You can simply tap an image of the sub-lesson you want to revisit or resume!</p>
			</div>
		</div>

		<div class="panel panel-default" id="education-support">
			<div class="panel-heading">
				<h2>Education Page</h2>
			</div>
			<div class="panel-body">
				<h3>What is on the education page?</h3>
				<p>The education page contains various investing lessons that are subdivided into sub-lessons.</p>
			</div>
			<div class="panel-body">
				<h3>What happens when I tap on a sub-lesson?</h3>
				<p>There will be a page that shows the necessary knowledge to complete that sub-lesson.<br>
					 The page will also have a link that directs you to features in the investing section that benefit from the sub-lesson!<br>
					 Moreover, there is a "Start Lesson" button on the page to start the actual lesson.
				</p>
			<div class="panel-body">
				<p>Unfortunately, not all the sub-lessons for lesson 1 are available right now!<br>
					 Future updates will add other lessons (and sub-lessons).
				</p>
			</div>
			</div>
		</div>

		<div class="panel panel-default" id="investing-support">
			<div class="panel-heading">
				<h2>Investing Page</h2>
			</div>
			<div class="panel-body">
				<h3>What is on the investing page?</h3>
				<p>The investing page contains features that are typical of other investing apps.<br>
					 There are links scattered throughout the investing page that link to related sub-lessons in the education page if you need to learn some concepts!
				</p>
			</div>
		</div>

	</div>

	<!-- Navbar -->
	<nav class="navbar navbar-fixed-bottom">
		<div class="container-fluid">
			<ul class="nav nav-tabs nav-justified">
				<!-- Active denotes what page a user is currently on! -->
				<!-- The list below may be a handlebars loop! -->
				<li>
    			<a href="/home">Home</a>
  			</li>
				<li>
    			<a href="/education">Education</a>
  			</li>
				<li>
    			<a href="/investing">Investing</a>
  			</li>
				<li class="active">
					<a href="/support">Support</a>
				</li>
    	</ul>
		</div>
	</nav>
</body>
</html>
