body {
    padding-bottom: 225px;
    background-image: url("images/background.svg");
}
.navbar {
    background-color: #C4C4C4;
}

.panel panel-default {
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.jumbotron {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.logo {
    text-align: center;
}

.logo-row {
    text-align: center;
}

.form-horizontal {
    background-color: #C4C4C4;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
    margin: 25px 50px 50px 50px;
}

.form-horizontal .form-group {
        padding-left: 20px;
        padding-right: 20px;

}

.panel-group {
    margin: 25px 50px 50px 50px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption {
  color: grey;
}

.glyphicon {
  color: grey;
}

.panel-body {
  border-style: solid;
  border-color: black;
  margin: 10px 10px 10px 10px;
}
